#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: aliceblue;
}

.App {
  position: relative;
  width: 90vw;
  background-color: #8b8b8b;
  border-radius: 20px;
  padding: 20px;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 40px 20px 40px;
  border-bottom: 3px solid;
}

h1 {
  font-size:60px;
  margin-bottom: 20px;
}
h2 {
  font-size: 45px;
  margin-left: 40px;
  margin-bottom: 30px;
  line-height: 2.5rem;
}

p {
  font-size: 1.5rem;
  line-height: 2rem;
}

img {
  margin: 40px 40px 0 40px;
  width: 250px;
}

.button {
  border: none;
  padding: 0;
  background: hsl(0, 0%, 37%);
  border-radius: 15px;
  cursor: pointer;
}
.button-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid;
}

.top:hover {
  background: hsl(0, 0%, 69%);

}

.top {
  display: block;
  padding: 15px 45px;
  border-radius: 15px;
  font-size: 2rem;
  background: hsl(0, 0%, 0%);
  color: white;
  transform: translateY(-8px);
}

.button:active .top {
  transform: translateY(-2px);
}


.proyects {
  margin: 40px 30px;
}

.proyect {
  margin: 5px;
}

.proyect:hover {
  scale: 1.2;
  transition: all .5s ease;
}

.contact-ico {
  padding-top: 20px;
  text-align: center;
}
.contact-title {
  margin-top: 20px;
}
.contact-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-gap: 15px;
  margin-top: 30px;
}
.contact-card {
  background-color: #FFF;
  
  width: 100%;
 /*  border-radius: ; */
}
.contact-img {
  width: fit-content;
  border-radius: 100%;
  scale: 0.3;
  position: relative;
  bottom: 150px;
  margin-left: auto;
  margin-right: auto;
}
#wspImg {
  position: relative;
  bottom: 10px;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
  background: #4e54c8;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  height:100vh;
  position: absolute;
  left: 0px;
  top: 0px;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

@media (max-width: 1300px) {
  .App {
    width: 100vw;
    margin: 0px;
    right: 0;
    top:0;
    position: absolute;
    overflow: hidden;
  }
  .button {
    margin: 10px 0;
  }
  .button-container {
    flex-wrap: wrap;
  }
  header {
    flex-direction: column;
  }
  .area {
    display: none;
  }
  .contact-title {
    margin-bottom: 50px;
  }
  .contact-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap: 50px;
    align-items: center;
    justify-items: center;
    padding: 0px;
  }
  
}